*{
    color: rgb(251, 248, 246);
    color: #f8f8f8;
    color: #ebe8e8;
    color: #C0A080;
    color: #5F7560;
    color: #758876;


}

html{
    color: #ffa636;
    color: #d33333;
    color: #d86d25;
    color: #3eaab5;
    color: #748b39;
    color: #ea4e2f;
}